.active-link {
  font-weight: bold;
  color: aqua;
}

ul {
  background-color: purple;
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  gap: 1rem;
}

a {
  color: white;
  text-decoration: none;
}
